@import url("https://use.typekit.net/qta6zoc.css");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,400;0,600;0,700;1,200;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Martel+Sans:ital,wght@0,200;0,400;0,600;0,700;1,200;1,400;1,700&display=swap");
/**
This is used to create a dropdown of options from an input. (e.g. PolySelect,
PolyTypeahead)
*/
html {
  --text-color: #e6e6e6;
  --title-text-color: #cdcabd;
  --accent-text-color: #d72f2f;
  --accent-text-color-o25: rgba(215, 47, 47, 0.2509803922);
  --value-text-color: #9a957b;
  --label-text-color: #ffffff;
  --text-disabled: #5c5c5c;
  --panel-bg: #171717;
  --inner-card-bg: #333333;
  --surface-text: #e6e6e6;
  --surface-tile1: #1f1f1f;
  --surface-tile2: #353535;
  --panel-border-color: #816e54;
  --bastion-panel-shadow-color: rgba(0, 0, 0, 0.1);
  --info-text-color: #54b8ec;
  --destructive-text-color: #e9989c;
  --destructive-hover-color: #f0babd;
  --border-box-primary-bg: #353535;
  --border-box-primary-border: #676767;
  --secondary-text-color: #cdcabd;
  --range-background-unfilled: #635f4c;
  --range-background-filled: #b3af9c;
  --range-text-unfilled-color: #e6e4de;
  --range-text-filled-color: #323026;
  --inventory-attunement-background: #353535;
  --panel-divider-color: #a1a1a1;
  --dark-divider-color: #070809;
  --medium-gray-divider-color: rgba(92, 92, 92, 0.6);
  --light-gray-divider-color: rgba(92, 92, 92, 0.3);
  --lighter-gray-divider-color: rgba(92, 92, 92, 0.2);
  --dark-secondary-divider-color: #323026;
  --shadow-medium-dark: 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12), 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
  --shadow-large-dark: 0px 3px 5px 0px rgba(0, 0, 0, 0.2), 0px 1px 18px 0px rgba(0, 0, 0, 0.12), 0px 6px 10px 0px rgba(0, 0, 0, 0.14);
  --panel-divider-secondary-color: #9a957b;
  --small-divider-color: rgba(255, 255, 255, 0.15);
  --panel-divider-secondary-color-o50: rgba(154, 149, 123, 0.5019607843);
  --mostly-black-divider-color: rgba(0, 0, 0, 0.35);
  --bright-bar-divider-color: white;
  --grey-divider-color: #5c5c5c;
  --red-divider-color: #d72f2f80;
  --font-body: proxima-nova, sans-serif;
  --font-title: modesto-text, sans-serif;
  --font-accent: modesto-poster, sans-serif;
  --secondary-gray-text: #b3b3b3;
  --dnd-gray-text: #b8b8b8;
  --placeholder-text-color: #5c5c5c;
  --warning-text-color: #ffbc33;
  --secondary-l25-text: #b3af9c;
  --spellcasting-name-text-color: #ffdd99;
  --spellcasting-popover-description-text-color: #b3b3b3;
  --effect-accent-color: var(--warning-text-color);
  --effect-affects-color: #a1a1a1;
  --default-button-bg: #353535;
  --default-button-focus-border: #e6e6e6;
  --secondary-button-bg: #635f4c;
  --outlined-button-border: #a1a1a1;
  --outlined-button-hover-bg: #5d5d5d;
  --secondary-outlined-button-border: #898369;
  --secondary-outlined-button-hover-bg: #635f4c;
  --tertiary-button-text-color: #e16363;
  --tertiary-button-hover-bg: #2a2a2a;
  --tertiary-button-focus-bg: #353535;
  --tertiary-button-focus-border: #e6e6e6;
  --inline-button-text-color: #e16363;
  --button-primary-base: #a82020;
  --card-title-font-color: #a1a1a1;
  --card-label-font-color: #a1a1a1;
  --card-label-background-dark: #171717;
  --card-label-border-color: #5c5c5c;
  --text-dnd-button-focus-border: #eb9797;
  --roll-button-hover-border: #d72f2f;
  --info-button-bg: #a1a1a1;
  --remove-button-bg: #833236;
  --inspiration-button-text-color: #b8b8b8;
  --inspiration-button-hover-color: #e16363;
  --inspiration-button-border: #676767;
  --initiative-button-bg: #651313;
  --input-border: #666666;
  --input-hover-border: #e16363;
  --input-focus-border: #e16363;
  --input-disabled-border: #5c5c5c;
  --resource-max-color: #a1a1a1;
  --tab-bar-input-border: #5c5c5c;
  --tab-bar-input-hover-border: #e16363;
  --tab-bar-input-divider: rgba(0, 0, 0, 0.1);
  --default-radio-color: #861a1a;
  --parallelogram-radio-inactive-bg: #070809;
  --parallelogram-radio-inactive-text: #a1a1a1;
  --parallelogram-radio-inactive-border: var(--parallelogram-radio-inactive-bg);
  --parallelogram-radio-hover-bg: var(--parallelogram-radio-inactive-bg);
  --parallelogram-radio-hover-border: #833236;
  --parallelogram-radio-active-bg: #430d0d;
  --parallelogram-radio-active-text: var(--text-color);
  --parallelogram-radio-active-border: #833236;
  --ease-all: all 250ms ease-in-out;
  --clickable-icon-color: #a1a1a1;
  --clickable-icon-hover: #e16363;
  --exp-increase-icon-color: #48bd7d;
  --exp-decrease-icon-color: #ff7979;
  --clickable-header-icon: #816e54;
  --clickable-header-icon-hover: #c7a16b;
  --disabled-header-icon: #6c6c6c;
  --chat-icon-color: #5c5c5c;
  --chat-icon-hover: #e16363;
  --chevron-icon-color: #b8b8b8;
  --edit-pencil-color: #676767;
  --list-item-secondary-icon-color: #5c5c5c;
  --list-item-secondary-icon-hover: #e16363;
  --list-item-disabled: #353535;
  --panel-header-font-color: #c7a16b;
  --panel-header-font-color-secondary: #b3af9c;
  --panel-header-font-color-dark: #816e54;
  --panel-header-font-color-darker: #675946;
  --panel-header-font-glow-gold: 0 0 8px 0 rgba(209, 179, 39, 0.1), 0 0 8px 0 rgba(209, 179, 39, 0.3), 1px 1px 8px 0 rgba(209, 179, 39, 0.6);
  --panel-subheader-font-color: #b8b8b8;
  --panel-settings-icon-default: #e6e6e6;
  --panel-settings-icon-hover: #7c775f;
  --defenses-text-category: #9a957b;
  --defenses-text-list: #e6e6e6;
  --defenses-text-empty-placeholder: #a1a1a1;
  --defenses-text-empty-placeholder: #676767;
  --inspired-bg: #a82020;
  --not-inspired-bg: #353535;
  --character-level-color: #e6e6e6;
  --character-level-bg: #a82020;
  --stat-card-background: #353535;
  --stat-card-text-color: #a1a1a1;
  --shadowed-card-background: transparent;
  --shadowed-card-hover-background: rgba(53, 53, 53, 0.6);
  --passive-stat-value-text-color: #b8b8b8;
  --skill-name-font-color: #e6e6e6;
  --scrollbar-color: #5c5c5c;
  --challenge-level-color: #e6e6e6;
  --ability-chip-select-bg: rgba(0, 0, 0, 0.5);
  --ability-chip-select-hover-bg: #1f1f1f;
  --ability-chip-chevron-focus-color: #e16363;
  --skills-list-edit-mode-bg: #0e0e0e;
  --healthy-hp-bar-color: #1aad5c;
  --healthy-hp-bar-background: #a3debe;
  --proficient-proficiency-fill: #651313;
  --untrained-proficiency-circle: #666666;
  --untrained-proficiency-circle-stroke: #5c5c5c;
  --expert-circle: #a82020;
  --untrained-proficiency-fill: #1f1f1f;
  --ability-border: #666666;
  --statblock-button-hover-border: #d72f2f;
  --main-header-color: #c7a16b;
  --table-row-hover-border: inset 0 0 3px #d72f2f;
  --header-row-background: rgba(0, 0, 0, 0.5);
  --header-row-background-stuck: #0c0c0c;
  --header-text-color: #b8b8b8;
  --table-section-header-color: #b8b8b8;
  --hit-dc-color: #fd9;
  --hit-damage-color: #e16363;
  --healing-color: #48bd7d;
  --modal-header-font-color: #e6e6e6;
  --modal-subheader-font-color: #9a957b;
  --modal-close-circle-color: #5c5c5c;
  --modal-close-x-color: #b3b3b3;
  --modal-primary-button-color: #861a1a;
  --modal-secondary-button-hover: #861a1a;
  --modal-button-focus: #eb9797;
  --modal-input-label-color: #b8b8b8;
  --modal-header-secondary-button-color: #635f4c;
  --modal-header-secondary-outline-button-hover: #635f4c;
  --modal-divider-color: #635f4c;
  --modal-overlay-color: rgba(0, 0, 0, 0.5);
  --inline-edit-header-bg: #070809;
  --inline-edit-content-bg: #0e0e0e;
  --inline-edit-row-label-color: #816e54;
  --inline-edit-input-border: #666666;
  --inline-edit-label-color: #878787;
  --inline-edit-label-color-hover: #e9989c;
  --inline-edit-input-border-hover: #e16363;
  --inline-edit-advanced-button-hover: #cdaa7a;
  --inline-edit-selected-dropdown-item-background: #861a1a;
  --inline-edit-weight-unit: #5c5c5c;
  --inline-edit-skills-add: #816e54;
  --inline-edit-skills-add-hover: #c7a16b;
  --inline-edit-placeholder-text: #6c6c6c;
  --inline-edit-static-bonus-underline: #353535;
  --inline-edit-more-damage-color: #c7a16b;
  --inline-edit-more-damage-hover-color: #cdaa7a;
  --switch-active-color: #861a1a;
  --switch-inactive-color: #353535;
  --always-prepared-switch-background-color: #ffffff;
  --checkbox-border-color: #861a1a;
  --checkbox-active-color: #861a1a;
  --checkbox-checkmark-color: #e6e6e6;
  --default-tabs-active-bg-color: #a82020;
  --default-tabs-active-text-color: #e6e6e6;
  --popover-background: #171717;
  --popover-text: #e6e6e6;
  --popover-text-bold: #ffcd66;
  --popover-border-color: #635f4c;
  --popover-border-color-red: #d72f2f;
  --popover-header-background: #1f1f1f;
  --popover-header-text: #b3af9c;
  --popover-header-border-color: #353535;
  --popover-header-border-bottom-color: #635f4c;
  --dropdown-button-focus-border-color: #d72f2f;
  --dropdown-button-hover-border-color: #a82020;
  --dropdown-button-border-color: #a1a1a1;
  --dropdown-options-text-color: #a1a1a1;
  --dropdown-option-hover-bg: #635f4c;
  --dropdown-option-selected-bg: #b3af9c;
  --dropdown-option-selected-text: #323026;
  --menu-background: #1f1f1f;
  --menu-hover-background: #b3af9c;
  --menu-hover-text: #323026;
  --popover-tooltip-text: white;
  --popover-tooltip-background: #353535;
  --scrollbar-color: #666666;
  --draggable-list-dropzone-color: #a82020;
  --draggable-list-dragged-background: #1f1f1f;
  --draggable-list-dragged-text: #676767;
  --draggable-list-borders: #a1a1a1;
  --layout-swap-toggle-color: #b3af9c;
  --collapse-button-bg-color: rgba(132, 132, 132, 0.16);
  --collapse-button-text-color: #e6e4de;
  --collapse-chevron-color: #676767;
  --component-chip-color: #e6e6e6;
  --component-chip-color-dark-grey: #b6b6b6;
  --component-chip-color-primary: #fd9;
  --component-chip-color-secondary: #eb9797;
  --component-chip-color-tertiary: #bbe3f7;
  --component-chip-background: rgba(0, 0, 0, 0.5);
  --component-chip-background-secondary: #353535;
  --component-chip-color-primary-red: #d72f2f;
  --spell-item-source-color: #fd9;
  --ritual-chip-background: rgba(84, 184, 236, 0.1);
  --ritual-chip-text-color: #bbe3f7;
  --filter-chip-background: #ffab00;
  --filter-chip-text-color: #111111;
  --builder-integrant-creator-chip-background: #111111;
  --builder-integrant-creator-chip-text-color: #e6e6e6;
  --purse-background-color: #1f1f1f;
  --purse-label-color: #b3af9c;
  --purse-toggle-button-color: #b3af9c;
  --purse-toggle-button-hover-color: white;
  --about-characteristics-table-bg: #1f1f1f;
  --about-characteristics-value-color: #b3af9c;
  --about-label-text-color: #a1a1a1;
  --rt-text-background: rgba(0, 0, 0, 0.3);
  --rt-title-color: white;
  --rt-title-color-yellow: #fd9;
  --rt-title-color-primary: #ff7979;
  --rt-default-text-color: #e6e6e6;
  --rt-save-text-color: #e6e6e6;
  --rt-primary-divider-color: #d72f2f;
  --rt-subtitle-color: #b8b8b8;
  --rt-character-name-color: #b8b8b8;
  --rt-textcontent-color: var(--rt-title-color);
  --rt-result-color: #e6e6e6;
  --rt-summary-color: #b8b8b8;
  --rt-formula-color: #a1a1a1;
  --rt-breakdown-header-color: #b8b8b8;
  --rt-header-attack-color: #fd9;
  --rt-header-damage-color: #ff7979;
  --rt-result-roll-used: #e6e6e6;
  --rt-result-normal-box-bg: #1f1f1f;
  --rt-result-normal-border: #5c5c5c;
  --rt-result-fumble-box-bg: #430d0d;
  --rt-result-fumble-text-color: #f5cbcb;
  --rt-result-fumble-border: #d72f2f;
  --rt-result-critical-box-bg: #0a4525;
  --rt-result-critical-text-color: #a3debe;
  --rt-result-critical-border: #a3debe;
  --rt-whisper-text-color: rgb(118, 198, 240);
  --rt-disfavored-advantage-text-color: #a1a1a1;
  --rt-roll-action-background: #353535;
  --rt-roll-action-text-color: #cdcabd;
  --rt-error-background: #572124;
  --rt-error-border: #d1d1d1;
  --rt-border: #676767;
  --rt-result-quantum-background: rgba(51, 51, 51, 0.7);
  --hit-dice: #7c775f;
  --used-hit-dice: #b3b3b3;
  --npc-feature-button-icon-color: #a1a1a1;
  --senses-text-list: #e6e6e6;
  --languages-text-list: #e6e6e6;
  --npc-avatar-border: #8f7543;
  --npc-text-list-secondary: #b8b8b8;
  --snackbar-error-background: #ae4248;
  --snackbar-warning-background: #ffab00;
  --snackbar-warning-text-color: #353535;
  --snackbar-happy-background: #106837;
  --prepared-control-bar-delete-background: rgba(53, 53, 53, 0.6);
  --filter-chip-border-color: #5c5c5c;
  --filter-chip-border-color-selected: #a82020;
  --filter-chip-background-color: #1f1f1f;
  --filter-collapse-background: #171717;
  --filter-collapse-header-border: rgba(0, 0, 0, 0.1);
  --clear-filters-button-color: #a82020;
  --filters-total-text-color: #676767;
  --rarity-common: rgba(161, 161, 161, 0.2);
  --rarity-uncommon: rgba(1, 189, 57, 0.5647058824);
  --rarity-rare: rgba(1, 191, 255, 0.5647058824);
  --rarity-veryrare: rgba(209, 1, 123, 0.5647058824);
  --rarity-legendary: #b7861d;
  --rarity-artifact: #ff5901;
  --rarity-darker-common: rgba(161, 161, 161, 0.2);
  --rarity-darker-uncommon: rgba(1, 189, 57, 0.5647058824);
  --rarity-darker-rare: rgba(1, 191, 255, 0.5647058824);
  --rarity-darker-veryrare: rgba(209, 1, 123, 0.5647058824);
  --rarity-darker-legendary: #b7861d;
  --rarity-darker-artifact: #ff5901;
}

rolltemplate.dnd-2024 details {
  background: var(--rt-text-background);
  backdrop-filter: blur(var(--blur));
  padding: 4px;
}
rolltemplate.dnd-2024 details summary {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: var(--rt-summary-color);
  font-family: var(--font-body);
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1.125rem;
  font-weight: 600;
  cursor: pointer;
}
rolltemplate.dnd-2024 details summary::after {
  display: inline-block;
  content: "";
  background-image: url("./assets/double-chevron-down.svg");
  width: 16px;
  height: 16px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: 200ms all;
  margin: 4px;
}
rolltemplate.dnd-2024 details[open] summary {
  margin-bottom: 8px;
}
rolltemplate.dnd-2024 details[open] summary::after {
  transform: rotate(180deg);
}
rolltemplate.dnd-2024 details .dnd-2024__collapse-content {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-bottom: 8px;
}
rolltemplate.dnd-2024 details .dnd-2024__collapse-subtitle {
  font-family: var(--font-title);
  font-size: 0.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.125rem;
  padding-bottom: 4px;
}
rolltemplate.dnd-2024 details .dnd-2024__collapse-content-row {
  font-family: var(--font-body);
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1.125rem;
  color: var(--rt-formula-color);
  white-space: pre-line;
}

rolltemplate.dnd-2024 p {
  margin: 0;
}

rolltemplate.dnd-2024 .dice-icon, rolltemplate.dnd-2024 .dice-icon--d100, rolltemplate.dnd-2024 .dice-icon--d20, rolltemplate.dnd-2024 .dice-icon--d12, rolltemplate.dnd-2024 .dice-icon--d10, rolltemplate.dnd-2024 .dice-icon--d8, rolltemplate.dnd-2024 .dice-icon--d6, rolltemplate.dnd-2024 .dice-icon--d4, rolltemplate.dnd-2024 .dice-icon--d3 {
  --size: 14px;
  width: var(--size);
  height: var(--size);
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
rolltemplate.dnd-2024 .dice-icon--d3 {
  background-image: url("./assets/dice/d3.svg");
}
rolltemplate.dnd-2024 .dice-icon--d4 {
  background-image: url("./assets/dice/d4.svg");
}
rolltemplate.dnd-2024 .dice-icon--d6 {
  background-image: url("./assets/dice/d6.svg");
}
rolltemplate.dnd-2024 .dice-icon--d8 {
  background-image: url("./assets/dice/d8.svg");
}
rolltemplate.dnd-2024 .dice-icon--d10 {
  background-image: url("./assets/dice/d10.svg");
}
rolltemplate.dnd-2024 .dice-icon--d12 {
  background-image: url("./assets/dice/d12.svg");
}
rolltemplate.dnd-2024 .dice-icon--d20 {
  background-image: url("./assets/dice/d20.svg");
}
rolltemplate.dnd-2024 .dice-icon--d100 {
  background-image: url("./assets/dice/d100.svg");
}

.message.general:has(.dnd-2024) {
  width: auto;
  padding-left: 16px;
}
.message.general:has(.dnd-2024) .by {
  padding-left: 29px;
}
.message.general:has(.dnd-2024) .sheetroll {
  padding-top: 16px;
}
.message.general:has(.dnd-2024):has(.dnd-2024__result--damage) .sheetroll {
  padding-top: 0px;
}

.message:has(.sheet-rolltemplate-default) {
  width: auto;
  padding-left: 16px;
}
.message:has(.sheet-rolltemplate-default) .by {
  padding-left: 29px;
}
.message:has(.sheet-rolltemplate-default) .sheet-rolltemplate-default {
  margin-top: 16px;
}

rolltemplate.dnd-2024 {
  --blur: 8px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  color: var(--rt-default-text-color);
  max-width: 300px;
  box-sizing: border-box;
  padding: 8px;
  background-image: url("./assets/bg-img.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  border-radius: 8px;
  border: 1px solid var(--rt-border);
}
rolltemplate.dnd-2024 .dnd-2024__header {
  padding: 4px;
  background: var(--rt-text-background);
  backdrop-filter: blur(var(--blur));
  border-bottom: 1px solid var(--rt-primary-divider-color);
}
rolltemplate.dnd-2024 .dnd-2024__header--rest {
  display: grid;
  grid-template-columns: 1fr auto;
}
rolltemplate.dnd-2024 .dnd-2024__header--rest .header__title,
rolltemplate.dnd-2024 .dnd-2024__header--rest .header__summary {
  grid-column: 1;
}
rolltemplate.dnd-2024 .dnd-2024__header--rest .header__rest-img {
  grid-column: 2;
  grid-row: 1/span 3;
}
rolltemplate.dnd-2024 .dnd-2024__dc {
  font-family: var(--font-title);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  text-transform: capitalize;
  display: grid;
  padding: 4px;
  grid-template-columns: 1fr auto;
  background: var(--rt-text-background);
  backdrop-filter: blur(var(--blur));
  border-bottom: 1px solid var(--rt-primary-divider-color);
  color: var(--rt-save-text-color);
}
rolltemplate.dnd-2024 .dnd-2024__text-content {
  font-family: var(--font-body);
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1.125rem;
  padding: 4px;
  background: var(--rt-text-background);
  color: var(--rt-textcontent-color);
  backdrop-filter: blur(var(--blur));
  white-space: pre-line;
  border-bottom: 1px solid var(--rt-primary-divider-color);
}
rolltemplate.dnd-2024 .dnd-2024__text-content:only-child {
  border-bottom: none;
}
rolltemplate.dnd-2024 .dnd-2024__text-content a {
  color: var(--inline-button-text-color);
}
rolltemplate.dnd-2024 .dnd-2024__text-content a[href^="!"], rolltemplate.dnd-2024 .dnd-2024__text-content a[href^="~"] {
  font-weight: 600;
  border-width: 0;
  border-radius: 4px;
  background-color: var(--default-button-bg);
}
rolltemplate.dnd-2024 .dnd-2024__text-content a[href^="!"]:hover, rolltemplate.dnd-2024 .dnd-2024__text-content a[href^="~"]:hover {
  filter: brightness(120%);
}
rolltemplate.dnd-2024 .dnd-2024__roll-action {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--rt-roll-action-background);
  padding: 4px 8px;
  border-radius: 4px;
  color: var(--rt-roll-action-text-color);
  gap: 4px;
  flex: 1;
}
rolltemplate.dnd-2024 .dnd-2024__roll-action[data-sheet-action=mastery] {
  flex-basis: 100%;
}
rolltemplate.dnd-2024 .dnd-2024__roll-action .roll-action__icon {
  width: 24px;
  height: 24px;
}
rolltemplate.dnd-2024 .dnd-2024__roll-action .roll-action__icon img {
  width: 24px;
  height: 24px;
}
rolltemplate.dnd-2024 .meta {
  display: flex;
  flex-direction: row;
}
rolltemplate.dnd-2024 .meta__character-name {
  font-size: 0.6875rem;
  font-weight: 400;
  line-height: 0.875rem;
  font-family: var(--font-title);
  flex-grow: 1;
  color: var(--rt-character-name-color);
}
rolltemplate.dnd-2024 .meta__whisper-text {
  font-family: var(--font-body);
  font-size: 0.8125rem;
  font-weight: 600;
  line-height: 1.125rem;
  color: var(--rt-whisper-text-color);
}
rolltemplate.dnd-2024 .header__info {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
rolltemplate.dnd-2024 .header__title {
  font-family: var(--font-title);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  text-transform: capitalize;
  color: var(--rt-title-color-yellow);
  font-weight: 700;
}
rolltemplate.dnd-2024 .header__title--damage {
  color: var(--rt-title-color-primary);
}
rolltemplate.dnd-2024 .header__subtitle {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8px;
  font-family: var(--font-body);
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.375rem;
  color: var(--rt-subtitle-color);
  font-weight: 400;
  font-size: 0.875rem;
  /* Style taken from poly-chip--ability-badge, padding adjusted */
}
rolltemplate.dnd-2024 .header__subtitle span {
  font-family: var(--font-body);
  font-size: 0.8125rem;
  font-weight: 600;
  line-height: 1.125rem;
  font-family: var(--font-title);
  align-items: center;
  border-radius: 4px;
  background: var(--stat-card-background);
  color: var(--stat-card-text-color);
  display: flex;
  justify-content: center;
  padding: 2px 8px;
  height: min-content;
  width: min-content;
}
rolltemplate.dnd-2024 .header__damage-breakdown {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4px;
  font-style: normal;
  font-size: 0.875rem;
  font-weight: 400;
}
rolltemplate.dnd-2024 .header__damage-breakdown .damage-breakdown__total {
  height: 1.375rem;
  width: 1.375rem;
  color: var(--rt-default-text-color);
  border: 0.5px solid var(--rt-result-normal-border);
  border-radius: 2px;
  background: var(--rt-result-quantum-background);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-body);
  font-size: 1rem;
  font-weight: 600;
  line-height: 1rem;
  font-variant: all-small-caps;
  letter-spacing: 1px;
}
rolltemplate.dnd-2024 .header__subtitle-chips {
  display: flex;
  flex-direction: row;
  gap: 4px;
}
rolltemplate.dnd-2024 .header__summary {
  font-family: var(--font-body);
  font-size: 0.8125rem;
  font-weight: 600;
  line-height: 1.125rem;
  color: var(--rt-subtitle-color);
}
rolltemplate.dnd-2024 .spell-item__list-chips ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 4px;
  padding: 0;
  margin: 0;
}
rolltemplate.dnd-2024 .poly-chip--spell {
  font-family: var(--font-title);
  font-size: 0.625rem;
  font-weight: 400;
  height: min-content;
  padding: 2px 4px;
  background-color: var(--component-chip-background);
  color: var(--component-chip-color-dark-grey);
}
rolltemplate.dnd-2024 .poly-chip--spell img {
  width: 10px;
}
rolltemplate.dnd-2024 .beacon-inline-roll {
  height: 1.375rem;
  width: 1.375rem;
  color: var(--rt-default-text-color);
  border: 0.5px solid var(--rt-result-normal-border);
  border-radius: 2px;
  background: var(--rt-result-quantum-background);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-body);
  font-size: 1rem;
  font-weight: 600;
  line-height: 1rem;
  font-variant: all-small-caps;
  letter-spacing: 1px;
  height: auto;
  width: auto;
  display: inline-block;
  padding: 2px 4px;
  text-align: center;
}

.sheet-rolltemplate-default.sheet-rolltemplate-default.sheet-rolltemplate-default {
  --blur: 8px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  color: var(--rt-default-text-color);
  max-width: 300px;
  box-sizing: border-box;
  padding: 8px;
  background-image: url("./assets/bg-img.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  border-radius: 8px;
}
.sheet-rolltemplate-default.sheet-rolltemplate-default.sheet-rolltemplate-default caption {
  font-family: var(--font-title);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  text-transform: capitalize;
  color: var(--rt-title-color);
  background-color: transparent;
  padding: 4px;
  border-bottom: 1px solid var(--rt-primary-divider-color);
  margin-bottom: 8px;
}
.sheet-rolltemplate-default.sheet-rolltemplate-default.sheet-rolltemplate-default table {
  background: var(--rt-text-background);
  backdrop-filter: blur(var(--blur));
}
.sheet-rolltemplate-default.sheet-rolltemplate-default.sheet-rolltemplate-default tr,
.sheet-rolltemplate-default.sheet-rolltemplate-default.sheet-rolltemplate-default tbody,
.sheet-rolltemplate-default.sheet-rolltemplate-default.sheet-rolltemplate-default table {
  border: none;
  background-color: transparent;
}
.sheet-rolltemplate-default.sheet-rolltemplate-default.sheet-rolltemplate-default tr:nth-child(odd),
.sheet-rolltemplate-default.sheet-rolltemplate-default.sheet-rolltemplate-default tbody:nth-child(odd),
.sheet-rolltemplate-default.sheet-rolltemplate-default.sheet-rolltemplate-default table:nth-child(odd) {
  background-color: transparent;
}
.sheet-rolltemplate-default.sheet-rolltemplate-default.sheet-rolltemplate-default td {
  margin: 4px 0;
  border: none;
}
.sheet-rolltemplate-default.sheet-rolltemplate-default.sheet-rolltemplate-default td:empty {
  display: none;
}
.sheet-rolltemplate-default.sheet-rolltemplate-default.sheet-rolltemplate-default .inlinerollresult.inlinerollresult {
  color: var(--rt-default-text-color);
  background-color: var(--default-button-bg);
  border-width: 0;
  backdrop-filter: blur(var(--blur));
}
.sheet-rolltemplate-default.sheet-rolltemplate-default.sheet-rolltemplate-default a {
  color: var(--inline-button-text-color);
}

.message .sheet-rolltemplate-default a {
  color: var(--inline-button-text-color);
}
.message .sheet-rolltemplate-default a[href^="!"], .message .sheet-rolltemplate-default a[href^="~"] {
  font-weight: 600;
  border-width: 0;
  border-radius: 4px;
  background-color: var(--default-button-bg);
}
.message .sheet-rolltemplate-default a[href^="!"]:hover, .message .sheet-rolltemplate-default a[href^="~"]:hover {
  filter: brightness(120%);
}
.message .sheet-rolltemplate-default > a[href^="!"],
.message .sheet-rolltemplate-default a[href^="~"] {
  background-color: var(--shadowed-card-background);
}

rolltemplate.dnd-2024--chat .dnd-2024__header {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
rolltemplate.dnd-2024--chat .dnd-2024__save-outcomes {
  padding: 4px;
  background: var(--rt-text-background);
  backdrop-filter: blur(var(--blur));
  border-bottom: 1px solid var(--rt-primary-divider-color);
}

rolltemplate.dnd-2024--roll {
  border-radius: 8px 8px 0 0;
}
rolltemplate.dnd-2024--roll:has(.dnd-2024__result--damage) {
  border-radius: 0 0 8px 8px;
}
rolltemplate.dnd-2024--roll .dnd-2024__header {
  display: grid;
  grid-template-columns: minmax(0, 1fr) 3.5rem;
  grid-template-rows: 3.5rem 1fr;
  row-gap: 0;
  column-gap: 4px;
}
rolltemplate.dnd-2024--roll .dnd-2024__header--Advantage, rolltemplate.dnd-2024--roll .dnd-2024__header--Disadvantage, rolltemplate.dnd-2024--roll .dnd-2024__header--Always {
  grid-template-columns: minmax(0, 1fr) 7rem;
}
rolltemplate.dnd-2024--roll .dnd-2024__result, rolltemplate.dnd-2024--roll .dnd-2024__result--critical, rolltemplate.dnd-2024--roll .dnd-2024__result--fumble, rolltemplate.dnd-2024--roll .dnd-2024__result--normal {
  border-radius: 2px;
  border: 1px solid var(--rt-border-secondary);
  position: relative;
}
rolltemplate.dnd-2024--roll .dnd-2024__result--normal {
  background: var(--rt-result-normal-box-bg);
  border-color: var(--rt-result-normal-border);
}
rolltemplate.dnd-2024--roll .dnd-2024__result--fumble {
  background: var(--rt-result-fumble-box-bg);
  border-color: var(--rt-result-fumble-border);
}
rolltemplate.dnd-2024--roll .dnd-2024__result--fumble .die__label {
  color: var(--rt-result-fumble-text-color);
}
rolltemplate.dnd-2024--roll .dnd-2024__result--fumble .result__inner-border {
  border-color: var(--rt-result-fumble-border);
}
rolltemplate.dnd-2024--roll .dnd-2024__result--critical {
  background: var(--rt-result-critical-box-bg);
  border-color: var(--rt-result-critical-border);
}
rolltemplate.dnd-2024--roll .dnd-2024__result--critical .die__label {
  color: var(--rt-result-critical-text-color);
}
rolltemplate.dnd-2024--roll .dnd-2024__result--critical .result__inner-border {
  border-color: var(--rt-result-critical-border);
}
rolltemplate.dnd-2024--roll .dnd-2024__result--damage {
  border: none;
}
rolltemplate.dnd-2024--roll .dnd-2024__result--damage .result__inner-border {
  display: none;
}
rolltemplate.dnd-2024--roll .dnd-2024__result--Advantage, rolltemplate.dnd-2024--roll .dnd-2024__result--Disadvantage, rolltemplate.dnd-2024--roll .dnd-2024__result--Always {
  display: flex;
  justify-content: space-around;
}
rolltemplate.dnd-2024--roll .dnd-2024__result--Advantage .die__total, rolltemplate.dnd-2024--roll .dnd-2024__result--Disadvantage .die__total, rolltemplate.dnd-2024--roll .dnd-2024__result--Always .die__total {
  color: var(--rt-disfavored-advantage-text-color);
}
rolltemplate.dnd-2024--roll .dnd-2024__result--Advantage .die__total--preferred, rolltemplate.dnd-2024--roll .dnd-2024__result--Disadvantage .die__total--preferred, rolltemplate.dnd-2024--roll .dnd-2024__result--Always .die__total--preferred {
  color: var(--rt-result-color);
}
rolltemplate.dnd-2024--roll .dnd-2024__resources {
  display: flex;
  flex-direction: column;
  gap: 4px;
  color: var(--rt-subtitle-color);
  margin-bottom: 8px;
}
rolltemplate.dnd-2024--roll .dnd-2024__roll-actions {
  display: flex;
  flex-direction: row;
  gap: 8px;
  justify-content: center;
  flex-wrap: wrap;
}
rolltemplate.dnd-2024--roll .header__summary {
  display: flex;
  flex-direction: column;
  gap: 2px;
  grid-row: span 2;
}
rolltemplate.dnd-2024--roll .result__die {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
rolltemplate.dnd-2024--roll .result__spacer {
  position: absolute;
  align-self: center;
  height: 2.25rem;
  border-left: var(--rt-result-color) 1px solid;
}
rolltemplate.dnd-2024--roll .result__mode-indicator {
  position: absolute;
  top: 0.25rem;
  right: 0.25rem;
  height: 0.75rem;
  width: 0.75rem;
}
rolltemplate.dnd-2024--roll .result__mode-indicator::after {
  display: block;
  width: 100%;
  height: 100%;
  content: " ";
}
rolltemplate.dnd-2024--roll .result__mode-indicator--Disadvantage::after {
  background-image: url("./assets/disadvantage.svg");
}
rolltemplate.dnd-2024--roll .result__mode-indicator--Advantage::after {
  background-image: url("./assets/advantage.svg");
}
rolltemplate.dnd-2024--roll .result__inner-border {
  border: solid 0.5px var(--rt-border-secondary);
  position: absolute;
  top: 0.5px;
  bottom: 0.5px;
  right: 0.5px;
  left: 0.5px;
}
rolltemplate.dnd-2024--roll .result__damage-chevron-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}
rolltemplate.dnd-2024--roll .result__damage-chevron-icon--left {
  left: 0;
}
rolltemplate.dnd-2024--roll .result__damage-chevron-icon--right {
  right: 0;
  transform: rotate(180deg) translateY(50%);
}
rolltemplate.dnd-2024--roll .result__damage-result {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
rolltemplate.dnd-2024--roll .result__damage-result img {
  flex: 1;
}
rolltemplate.dnd-2024--roll .die__label {
  font-family: var(--font-body);
  font-size: 0.625rem;
  font-weight: 600;
  line-height: 0.875rem;
  position: absolute;
}
rolltemplate.dnd-2024--roll .die__label--fumble {
  bottom: 2px;
}
rolltemplate.dnd-2024--roll .die__label--critical {
  top: 2px;
}
rolltemplate.dnd-2024--roll .die__total {
  font-family: var(--font-title);
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.75rem;
  /* 140% */
  color: var(--rt-result-color);
}
rolltemplate.dnd-2024--roll .dnd-2024__bonus-list {
  display: grid;
  grid-template-columns: 1fr min-content;
  row-gap: 4px;
  margin-bottom: 8px;
}
rolltemplate.dnd-2024--roll .dnd-2024__text-content {
  width: 100%;
}
rolltemplate.dnd-2024--roll .bonus-list__header {
  grid-column: 1/-1;
  font-family: var(--font-body);
  font-size: 0.8125rem;
  font-weight: 600;
  line-height: 1.125rem;
  color: var(--rt-breakdown-header-color);
  margin-bottom: 4px;
}
rolltemplate.dnd-2024--roll .bonus-list__header-type {
  color: var(--rt-header-attack-color);
}
rolltemplate.dnd-2024--roll .bonus-list__header-type[data-rollSubcategory=Damage] {
  color: var(--rt-header-damage-color);
}
rolltemplate.dnd-2024--roll .bonus {
  font-family: var(--font-body);
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1.125rem;
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 1/-1;
}
rolltemplate.dnd-2024--roll .bonus__label {
  color: var(--rt-formula-color);
  font-family: var(--font-body);
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1.125rem;
}
rolltemplate.dnd-2024--roll .bonus__value {
  font-family: var(--font-body);
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1.125rem;
  min-width: 1.5rem;
  text-align: center;
  justify-self: end;
}
rolltemplate.dnd-2024--roll .rt-formula {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 1/-1;
  align-content: flex-start;
  row-gap: 4px;
  color: var(--rt-formula-color);
  max-width: 100%;
}
rolltemplate.dnd-2024--roll .rt-formula__raw {
  font-family: var(--font-body);
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1.125rem;
  white-space: nowrap;
}
rolltemplate.dnd-2024--roll .rt-formula__evaluated {
  height: 1.375rem;
  width: 1.375rem;
  color: var(--rt-default-text-color);
  border: 0.5px solid var(--rt-result-normal-border);
  border-radius: 2px;
  background: var(--rt-result-quantum-background);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-body);
  font-size: 1rem;
  font-weight: 600;
  line-height: 1rem;
  font-variant: all-small-caps;
  letter-spacing: 1px;
  width: 1.5rem;
  text-align: center;
  justify-self: end;
}
rolltemplate.dnd-2024--roll .rt-formula__evaluated-string {
  font-family: var(--font-body);
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1.125rem;
  max-width: 100%;
  word-break: break-all;
}
rolltemplate.dnd-2024--roll button[data-sheet-action=rick] {
  display: none;
}
rolltemplate.dnd-2024--roll .total {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 1/-1;
}
rolltemplate.dnd-2024--roll .total__label {
  font-family: var(--font-title);
  font-size: 0.8125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.125rem;
  /* 138.462% */
  font-variant: small-caps;
}
rolltemplate.dnd-2024--roll .total__value {
  min-width: 1.5rem;
  text-align: center;
  justify-self: end;
}

.dnd-2024--error {
  padding: 4px;
  background-color: var(--rt-error-background);
  border: 1px solid var(--rt-error-border);
  color: var(--secondary-gray-text);
}
